<div class="container-fluid mt-5">
	<h2 class="px-auto w-100">Search for jobs & internships</h2>
	<div class="mx-auto w-50">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-ribbon mx-auto"></i></span>
			</div>
			<input id="search-job" type="checkbox" class="form-control" style="width: 40px;" name="search-job" [(ngModel)]="job">
			<input type="text" class="form-control" style="width: calc(50% - 65px);" placeholder="Job" disabled>
			<input id="search-internship" type="checkbox" class="form-control" style="width: 40px;" name="search-internship" [(ngModel)]="internship">
			<input type="text" class="form-control" style="width: calc(50% - 65px);" placeholder="Internship" disabled>
		</div>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-quote mx-auto"></i></span>
			</div>
			<input id="search-name" type="text" class="form-control" name="search-name" placeholder="Company name" [(ngModel)]="name">
		</div>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-quote mx-auto"></i></span>
			</div>
			<input id="search-position" type="text" class="form-control" name="search-position" placeholder="Position" [(ngModel)]="position">
		</div>
		<div class="container-fluid my-4">
			<button type="button" class="btn btn-primary btn-sm btn-block" (click)="search()">Search</button>
		</div>
		<div *ngIf="results" class="container-fluid mb-4">
			<h4>Number of companies: {{ results.companies.length }}</h4>
			<div *ngFor="let one of results.companies" class="alert alert-info alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<a href="/profile/{{ one.username }}" target="_blank">{{ one.name }}</a>
			</div>
			<h4>Number of openings: {{ results.openings.length }}</h4>
			<div *ngFor="let one of results.openings" class="alert alert-info alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<a href="/opening/{{ one.username }}/{{ one.index }}" target="_blank">{{ one.position }}</a>
			</div>
		</div>
	</div>
</div>
