<owl-date-time #estart [firstDayOfWeek]="1" [showSecondsTimer]="true"></owl-date-time>
<owl-date-time #eend [firstDayOfWeek]="1" [showSecondsTimer]="true"></owl-date-time>

<ng-template #header let-popup="popup">
	<h4 class="modal-title"><i class="icon ion-ios-clock"></i>&emsp;Event details</h4>
	<button type="button" class="close" (click)="popup.hide()">&times;</button>
</ng-template>

<ng-template #body>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-help-buoy mx-auto"></i></span>
		</div>
		<input id="event-type" type="text" class="form-control" name="event-type" placeholder="Event type" [(ngModel)]="event.data.eventtype">
	</div>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-pin mx-auto"></i></span>
		</div>
		<select id="event-location" class="form-control" name="event-location" [(ngModel)]="event.data.location">
			<option *ngFor="let one of event.locations" [ngValue]="one.name">{{ one.name }}</option>
		</select>
	</div>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-time mx-auto"></i></span>
		</div>
		<input [owlDateTime]="estart" [owlDateTimeTrigger]="estart" class="form-control" placeholder="Start" [(ngModel)]="event.data.start">
	</div>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-time mx-auto"></i></span>
		</div>
		<input [owlDateTime]="eend" [owlDateTimeTrigger]="eend" class="form-control" placeholder="End" [(ngModel)]="event.data.end">
	</div>
</ng-template>

<ng-template #footer let-popup="popup">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
				<button type="button" class="btn btn-primary btn-sm btn-block" (click)="callback()">Confirm</button>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-4"></div>
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
				<button type="button" class="btn btn-danger btn-sm btn-block" (click)="popup.hide()">Close</button>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #status>
</ng-template>
