<ng-template #header let-popup="popup">
	<h4 class="modal-title"><i class="icon ion-ios-log-in"></i>&emsp;Log in</h4>
	<button type="button" class="close" (click)="popup.hide()">&times;</button>
</ng-template>

<ng-template #body>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-mail mx-auto"></i></span>
		</div>
		<input id="login-username" type="text" class="form-control" name="login-username" placeholder="Username" [(ngModel)]="username">
	</div>
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" style="width: 50px"><i class="icon ion-ios-medical mx-auto"></i></span>
		</div>
		<input id="login-password" type="password" class="form-control" name="login-password" placeholder="Password" [(ngModel)]="password">
	</div>
</ng-template>

<ng-template #footer let-popup="popup">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
				<button type="button" class="btn btn-primary btn-sm btn-block" (click)="login()">Log in</button>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-4"></div>
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
				<button type="button" class="btn btn-danger btn-sm btn-block" (click)="popup.hide()">Close</button>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #status>
	<div *ngFor="let one of prompts" class="alert alert-{{ one.type }} alert-dismissible pb-0 fade show">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>{{ one.content }}</p>
	</div>
</ng-template>
