<div class="container-fluid mt-5">
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">Field</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Username:</th>
				<td>{{ data?.username }}</td>
			</tr>
			<ng-container *ngIf="data && data.company">
				<tr>
					<th scope="row">Name:</th>
					<td>{{ data.company.name }}</td>
				</tr>
				<tr>
					<th scope="row">Address:</th>
					<td>{{ data.company.address }}</td>
				</tr>
				<tr>
					<th scope="row">Director:</th>
					<td>{{ data.company.director }}</td>
				</tr>
				<tr>
					<th scope="row">Corporate Identification Number:</th>
					<td>{{ data.company.cin }}</td>
				</tr>
				<tr>
					<th scope="row">Number of employees:</th>
					<td>{{ data.company.employees }}</td>
				</tr>
				<tr>
					<th scope="row">E-Mail:</th>
					<td>{{ data.company.email }}</td>
				</tr>
				<tr>
					<th scope="row">Web:</th>
					<td><a href="{{ data.company.web }}" target="_blank">{{ data.company.web }}</a></td>
				</tr>
				<tr>
					<th scope="row">Sector:</th>
					<td>{{ data.company.sector }}</td>
				</tr>
				<tr>
					<th scope="row">Speciality:</th>
					<td>{{ data.company.speciality }}</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
	
	<table *ngIf="data && data.company && data.company.openings && data.company.openings[opening]" class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">Field</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Started:</th>
				<td>{{ data.company.openings[opening].started }}</td>
			</tr>
			<tr>
				<th scope="row">Job:</th>
				<td>{{ data.company.openings[opening].job }}</td>
			</tr>
			<tr>
				<th scope="row">Internship:</th>
				<td>{{ data.company.openings[opening].internship }}</td>
			</tr>
			<tr>
				<th scope="row">Position:</th>
				<td>{{ data.company.openings[opening].position }}</td>
			</tr>
			<tr>
				<th scope="row">Description:</th>
				<td>{{ data.company.openings[opening].description }}</td>
			</tr>
			<tr>
				<th scope="row">Deadline:</th>
				<td>{{ data.company.openings[opening].deadline }}</td>
			</tr>
			<tr>
				<th scope="row">Attachments:</th>
				<td><a *ngFor="let one of data.company.openings[opening].attachments; index as i" [href]="one" target="_blank" class="mx-1">{{ i + 1 }}</a></td>
			</tr>
		</tbody>
	</table>
</div>
